{% extends 'base.html' %}
    {% block content %}
        <form class="form-home" action="main" method="POST">
            <h2>HOME</h2>
            {% csrf_token %}
            <button class="btn btn-primary" type="submit" value="1" name="input">Sign In</button>
            <br><br>
            <button class="btn btn-primary" type="submit" value="2" name="input">Sign Up</button>
            <br><br>
            <button class="btn btn-primary" type="submit" value="3" name="input">Change Password</button>
        </form>
    {% endblock %}