{% extends 'base.html' %}
    {% block content %}
    <div class="boxtype">
        <h2>Change Your Password</h2>
        {% if name %}
            <h3>Hello {{name}}</h3>
            <form action="changePass" method="POST">
                {% csrf_token %}
                    <label>Enter Password Duration</label>
                    <input type="hidden" value={{name}} name="name" >
                    <input type="text" name="dur" >
                    <br>
                    <label>After you press Start button 5 samples will be recorded of your Passcode. Each sample duration would be same as you mentioned</label>
                    <button class="btn btn-success" id= "gameStart" type="submit">Start</button>
            </form>
        {% else %}
            <label> Please enter your name </label>
            <form action="changePass" method="POST">
                {% csrf_token %}
                    <input type="text" name="name" >
                    <input name="dur" type="hidden">
                    <br><br>
                    <input class="btn btn-success" type="submit" />
            </form>
        {% endif %}
    {% endblock %}
    </div>