{% extends 'base.html' %}
    {% block content %}
        <h1>Change Your Password</h1>
        {% if name %}
            <h2>Hello {{name}}</h2>
            <form action="changePass" method="POST">
                {% csrf_token %}
                    <p>Enter Password Duration</p>
                    <input type="hidden" value={{name}} name="name" >
                    <input type="text" name="dur" >
                    <br>
                    <button class="btn btn-success" id= "gameStart" type="submit">Start</button>
            </form>
        {% else %}
            <p> Please enter your name </p>
            <form action="changePass" method="POST">
                {% csrf_token %}
                    <input type="text" name="name" >
                    <input name="dur" type="hidden">
                    <br>
                    <input class="btn btn-success" type="submit" />
            </form>
        {% endif %}
    {% endblock %}